# Ignore config files that may contain sensitive information
.dalle_config
.openai_api_key
.dalle_output_dir

serverless/node_modules
serverless/.serverless
serverless/.webpack
serverless/.env
serverless/.env.local
serverless/.env.development
serverless/.env.production
serverless/.env.test
serverless/.env.staging
serverless/.env.prod
serverless/.next
serverless/.vercel
